.descriptions {
    float: left;
    width: 50%;
	padding:20px;
	box-sizing:border-box;
	border: 1px solid #DEDEDE;
}
.descriptions:nth-child(3){clear:both;}
.descriptions:nth-child(2n+2){border-right:0px}
.descriptions img{max-width:100%;}
.tublr-icon2{
    background: url("../images/readmore-24-20.png") no-repeat scroll left top rgba(0, 0, 0, 0);
     margin-top: 10px;
    padding:0;
}
.tublr-icon3{
    background: url("../images/facebook-20x20.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    margin-top: 10px;
    padding:0;
}
.tublr-icon4{
    background: url("../images/twitter-20x20.png") no-repeat scroll left top rgba(0, 0, 0, 0);
     margin-top: 10px;
    padding:0;
	margin-right:0px;
}

.tublr-icon1 {
float: left;
margin: 15px 0;
width: 100%;
}
.evincetumblr-list-container{margin:0 auto; width:90%; border:3px #dedede solid; border-top:0px}
.social-link{float:left; width:100%; clear:both;}
.social-link a {
  display: inline-block;
  position: relative;
  text-indent: -999em;
  width:20px;
  height:20px; margin-right:10px;
}
.clearfix{clear:both;}

.descriptions .multi-img > img {
  display: inline-block;
  margin: 1% 2%;
  width: 46%;
}