<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<?php
    $empty_category_block = Mage::getModel('cms/block')->load('hellothemes_empty_category');
    if($empty_category_block->getIsActive()){
        echo $this->getLayout()->createBlock('cms/block')->setBlockId('hellothemes_empty_category')->toHtml();
    } else { ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php } ?>
<?php else: ?>
<div class="category-products">
    <?php echo $this->getToolbarHtml() ?>
	
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
        <?php foreach ($_productCollection as $_product): ?>
		
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
                <div class="catalog-image">  
				   <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
						
						<?php /* New and Special price */ //echo $this->helper('hellothemessettings')->getLabel($_product); ?>
						<?php if (!$this->helper('hellothemessettings')->getNewLabel($_product) == 'New'): ?>
							<?php echo ""; ?>
						<?php else: ?>
							<?php echo '<div class="sticker sticker-top-left "><span>' . $this->helper('hellothemessettings')->getNewLabel($_product) . '</span></div>' ?>
						<?php endif; ?>
						
						<?php if (!$this->helper('hellothemessettings')->getSaleLabel($_product) == 'Sale To:'): ?>
							<?php echo ""; ?>
						<?php else: ?>
							<?php echo '<div class="sticker sticker-top-right "><span>' . $this->helper('hellothemessettings')->getSaleLabelOnly($_product) . '</span>' . '<span class="specialto">' . $this->helper('hellothemessettings')->getToOnly($_product) . '</span></div>' ?>
						<?php endif; ?>
						
						<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(230,230); ?>" width="230" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
				   </a>
				   <a href="<?php echo $_product->getProductUrl() ?>" class="quick-view"><span style="display:none;"><?php echo $this->__('Quick View') ?></span></a>
				</div> <!-- / .catalog-image -->
				
            <?php // Product description ?>
            <div class="product-shop">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                    <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
					<!-- Ratings -->
					<?php
						$storeId = Mage::app()->getStore()->getId();
						$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($_product->getId());
					?> 
					<div class="ratings">
						<div class="rating-box">
							<div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>            
						</div>
						<p class="rating-links"><a href="<?php echo $this->getReviewsUrl() ?>"><?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?></a></p>
					</div>	
					<!-- /Ratings -->
                </div>
            </div>
			<div class="product-actions">
				<div class="price-container clearfix">
					<?php echo $this->getPriceHtml($_product, true) ?>
					<?php if($_product->getRatingSummary()){ echo $this->getReviewsSummaryHtml($_product); } ?>
				</div>
				<?php if($_product->isSaleable()): ?>
					<?php if (Mage::getStoreConfig('hellothemessettings/ajax/cart')) : ?>
						<a href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' data-fancybox-group="gallery" class='fancybox btn-cart' id='fancybox <?php echo $_product->getId()?>'><i></i><span><?php echo $this->__('Quick View') ?></span></a>
					<?php endif; ?>	 
				<?php else: ?>
					<a href="javascript:void(0);" class="btn-cart out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></a>	
				<?php endif; ?>
				<ul class="add-to-links">
					<?php if ($_compareUrl=$this->getAddToCompareUrl($_product)) : ?>
					<li><a href="<?php echo $_compareUrl ?>" class="link-compare" data-id="<?php echo $_product->getId(); ?>">+ <?php echo $this->__('Add to Compare') ?></a></li>
					<?php endif; ?>
					<?php if ($this->helper('wishlist')->isAllow()) : ?>
					<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" data-id="<?php echo $_product->getId(); ?>">+ <?php echo $this->__('Add to Wishlist') ?></a></li>
					<?php endif; ?>
				</ul>
				<span class="ajax_loading" id='ajax_loading<?php echo $_product->getId()?>'><img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif')?>'/></span>
			</div>
        </li>
        <?php endforeach; ?>
    </ol>
    <?php else: ?>

    <?php // Grid Mode ?>

    <?php
		$_collectionSize = $_productCollection->count();
		$_columnCount = 3;
    ?>
		<?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif ?>
			<li class="item span33">
				<ul class="add-to-links">
					<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
						<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Compare') ?></a></li>
					<?php endif; ?>
					<?php if ($this->helper('wishlist')->isAllow()) : ?>
						<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Wishlist') ?></a></li>
					<?php endif; ?>
				</ul>	
               <div class="catalog-image">  
				   <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">						
						<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(230,230); ?>" width="230" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
				   </a>
				</div>
				<div class="details">
				
					<?php /* New and Special price */ //echo $this->helper('hellothemessettings')->getLabel($_product); ?>
						<?php if (!$this->helper('hellothemessettings')->getNewLabel($_product) == 'New'): ?>
							<?php echo ""; ?>
						<?php else: ?>
							<?php echo '<div class="sticker sticker-top-left "><span>' . $this->helper('hellothemessettings')->getNewLabel($_product) . '</span></div>' ?>
						<?php endif; ?>
						
						<?php if (!$this->helper('hellothemessettings')->getSaleLabel($_product) == 'Sale To:'): ?>
							<?php echo ""; ?>
						<?php else: ?>
							<?php echo '<div class="sticker sticker-top-right "><span>' . $this->helper('hellothemessettings')->getSaleLabelOnly($_product) . '</span>' . '<span class="specialto">' . $this->helper('hellothemessettings')->getToOnly($_product) . '</span></div>' ?>
					<?php endif; ?>
				
					<div class="content">
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
						<?php echo $this->getPriceHtml($_product, true) ?>
						<!-- Ratings -->
						<?php
							$storeId = Mage::app()->getStore()->getId();
							$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)  ->load($_product->getId());
						?> 
						<div class="ratings">
							<div class="rating-box">
								<div class="rating" style="width:<?php echo $summaryData['rating_summary']; ?>%"></div>            
							</div>
							<p class="rating-links"><a href="<?php echo $this->getReviewsUrl() ?>"><?php echo $this->__('%d Review(s)', $this->getReviewsCount()) ?></a></p>
						</div>	
						<!-- /Ratings -->						
						<div class="product-actions">
							<?php if($_product->isSaleable()): ?>								
								<?php if (Mage::getStoreConfig('hellothemessettings/ajax/cart')) : //quick view button ?>
									<a href='<?php echo $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()));?>' data-fancybox-group="gallery" class='fancybox btn-cart' id='fancybox <?php echo $_product->getId()?>'><i></i><span><?php echo $this->__('Quick View') ?></span></a>
								<?php endif; ?>		
							<?php else: ?>
								<a href="javascript:void(0);" class="btn-cart out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></a>												
							<?php endif; ?>
						</div>
						<div class="clear"></div>
					</div>
				</div>  			
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>
<script language="javascript">    
$jQ(document).ready(function(){

	$jQ(".sticker-top-right").mouseenter(function() {
		 $jQ(this).children('.specialto').show();
	}).mouseleave(function() {
		$jQ(this).children('.specialto').hide();
	});
	
	$jQ(".products-grid li, #upsell-product-table li").each(function() {
		var view = $jQ(this).find(".quick-view span");
		$jQ(".catalog-image", this).hover(function() {
			view.css("display","block").animate({
				opacity: 1
			}, 200);
		}, function() {
			view.animate({
				opacity: 0
			}, 200, function() {
				$jQ(this).css("display","none");
			});
		});
		view.hide();
	});
});
</script>