<?php
/**
 * Category view template
 *
 * @see Hellothemes_Priceslider_Block_Mainslider
 */
?>
<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<img class="img-category" src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" />';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($_imgUrl): ?>
	<?php echo $_imgHtml ?>
<?php endif; ?>

<?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
	<div class="category-description">
		<h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
		<p><?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?></p>
	</div>
<?php endif; ?>

<?php if($this->isContentMode()): ?>
	<?php echo $this->getCmsBlockHtml() ?>
<?php elseif($this->isMixedMode()): ?>
	<?php echo $this->getCmsBlockHtml() ?>
	<?php echo $this->getProductListHtml() ?>
<?php else: ?>
	<?php echo $this->getProductListHtml() ?>
<?php endif; ?>