<?php 
    $config = Mage::getStoreConfig('hellothemessettings', $_GET['store']);
    $_menu = $this->renderCategoriesMenuHtml(0, 'level-top', 'sub-wrapper' ) 
?>

<?php if($_menu) : ?>

<nav class="hellothemes">
    <ul id="hellothemesNav">
        <?php if (Mage::getStoreConfig('hellothemessettings/navigation/home')): // Show Home link ?>
            <li class="level0 level-top home">
                <a href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
            </li>
        <?php endif; ?>
        <?php echo $_menu; ?>
    </ul>    
    <div class="links-block">
        <ul id="custom">
            <?php
                if ($config['navigation']['enable_custom_block']) :
                $custom_tab = Mage::getModel('cms/block')->load('hellothemes_navigation_block');
                if($custom_tab->getIsActive()) {
                echo '
                <li class="level0 level-top parent custom-block">
                    <a href="#" class="level-top">
                        <span>'.$custom_tab->getTitle().'</span>
                    </a>
                    <div class="custom-content">'.$this->getLayout()->createBlock('cms/block')->setBlockId('hellothemes_navigation_block')->toHtml().'</div>
                </li>';
            }
            endif ?>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('link_navigation')->toHtml(); ?>
            <?php // Show Clearance Block
                $clearance = Mage::getStoreConfig('hellothemessettings/clearance');
                if ($clearance['activation'] == '1'): ?>
                    <li class="level0 level-top">
                        <a href="<?php echo $this->getBaseUrl(); ?>clearance"><span><?php echo $this->__('Clearance'); ?></span></a>
                    </li>
            <?php endif; ?>
        </ul>
    </div>
</nav>
<?php endif ?>