/*-----------------------------------------------------------------------------

	-	Revolution Slider 2.0 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	09/18/11
last update: 13.10.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

/*************************
 -	hello CAPTIONS	-
**************************/
.tp-caption.hello_large_caption_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:72px; font-weight:300;
    line-height:72px;
}
.tp-caption.hello_large_caption_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:72px; font-weight:500;
    line-height:72px;
}
.tp-caption.hello_large_caption_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:72px; font-weight:800;
    line-height:72px;
}

.tp-caption.hello_caption_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:300;
    line-height:60px;
}
.tp-caption.hello_caption_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:500;
    line-height:60px;
}
.tp-caption.hello_caption_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:800;
    line-height:60px;
}

.tp-caption.hello_caption_underline_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px 10px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:300;
    line-height:60px;
    border-bottom:1px solid rgba(0, 0, 0, 0.09) !important;
}
.tp-caption.hello_caption_underline_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px 10px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:500;
    line-height:60px;
    border-bottom:1px solid rgba(0, 0, 0, 0.09) !important;
}
.tp-caption.hello_caption_underline_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px 10px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:60px; font-weight:800;
    line-height:60px;
    border-bottom:1px solid rgba(0, 0, 0, 0.09) !important;
}

.tp-caption.hello_small_caption_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:24px; font-weight:300;
    line-height:28px;
}
.tp-caption.hello_small_caption_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:24px; font-weight:500;
    line-height:28px;
}
.tp-caption.hello_small_caption_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:3px 4px; padding-top:1px; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:24px; font-weight:800;
    line-height:28px;
}

.tp-caption.hello_small_text_light {     
    color: #FFFFFF;
    font-family: lato;
    font-weight: 400;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
.tp-caption.hello_small_text_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:none; padding:0; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:Arial, sans-serif !important; font-size:14px; font-weight:500;
    line-height:19px;
}
.tp-caption.hello_small_text_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:none; padding:0; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:Arial, sans-serif !important; font-size:14px; font-weight:800;
    line-height:19px;
}


.tp-caption.hello_medium_text_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:none; padding:0; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:20px; font-weight:300;
    line-height:28px;
}
.tp-caption.hello_medium_text_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:none; padding:0; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:20px; font-weight:500;
    line-height:28px;
}
.tp-caption.hello_medium_text_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:none; padding:0; margin:0px; border-width:0px; border-style:none; letter-spacing:0px;
    font-family:"Myriad Pro", sans-serif; font-size:20px; font-weight:800;
    line-height:28px;
}

.tp-caption.hello_white_bg_light { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:0 4px; margin:0px; border-width:0px; border-style:none; letter-spacing:-1.5px;
    font-family:"Myriad Pro", sans-serif; font-size:36px; font-weight:300;
    line-height:36px;
    background:#fff;
}
.tp-caption.hello_white_bg_medium { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:0 4px; margin:0px; border-width:0px; border-style:none; letter-spacing:-1.5px;
    font-family:"Myriad Pro", sans-serif; font-size:36px; font-weight:500;
    line-height:36px;
    background:#fff;
}
.tp-caption.hello_white_bg_bold { position:absolute; color:#000; color:rgba(0, 0, 0, 0.8); text-shadow:none; text-transform:uppercase; padding:0 4px; margin:0px; border-width:0px; border-style:none; letter-spacing:-1.5px;
    font-family:"Myriad Pro", sans-serif; font-size:36px; font-weight:800;
    line-height:36px;
    background:#fff;
}

/*************************
    -	CAPTIONS	-
**************************/
.tp-caption.big_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans;
    padding: 3px 4px;
    padding-top: 1px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: #000;
    letter-spacing: 0px;
}

.tp-caption.big_orange {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    font-family: Arial;
    padding: 0px 4px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: #fb7354;
    letter-spacing: -1.5px;
}

.tp-caption.big_black {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    font-family: "Lato";
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    padding:15px !important;
    padding-top: 1px;
    background-color: #000;
	text-transform:uppercase;
	letter-spacing:1px;
}

.tp-caption.medium_grey {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
    padding: 2px 4px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: #888;
    white-space: nowrap;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.tp-caption.small_text {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.tp-caption.medium_text {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.tp-caption.large_text {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.tp-caption.large_black_text {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    font-family: "Lato";
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

.tp-caption.very_large_text {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0px;
}

.tp-caption.very_large_black_text {
    position: absolute;
    color: #000;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

.tp-caption.bold_red_text {
    position: absolute;
    color: #d31e00;
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

.tp-caption.bold_brown_text {
    position: absolute;
    color: #a04606;
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

.tp-caption.bold_green_text {
    position: absolute;
    color: #5b9830;
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}

.tp-caption.very_big_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Open Sans', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    padding: 3px 4px;
    padding-top: 1px;
    background-color: #7e8e96;
}

.tp-caption.very_big_black {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 60px;
    line-height: 36px;
    font-family: "Lato";
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    padding:15px !important;
    padding-top: 1px;
    background-color: #000;
	text-transform:uppercase;
	letter-spacing: 5px;
}

.tp-caption.boxshadow {
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.tp-caption.black {
    color: #000;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    font-family: 'Open Sans', sans;
}

.tp-caption.noshadow {
    text-shadow: none;
}

.tp-caption a {
    color: #ff7302;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.tp-caption a:hover {
    color: #ffa902;
}

/******************************
	-	revolution-buttonS	-
*******************************/

.revolution-button {
    padding: 6px 13px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    cursor: pointer;
    color: #fff !important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) !important;
    font-size: 15px;
    line-height: 45px !important;
    background: url(../images/gradient/g30.png) repeat-x top;
    font-family: arial, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

.revolution-button.big {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 9px 20px;
    font-size: 19px;
    line-height: 57px !important;
    background: url(../images/gradient/g40.png) repeat-x top;
}

.purchase:hover,
.revolution-button:hover,
.revolution-button.big:hover {
    background-position: bottom, 15px 11px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .revolution-button {
        padding: 4px 8px 3px;
        line-height: 25px !important;
        font-size: 11px !important;
        font-weight: normal;
    }

    a.revolution-button {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }

}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .revolution-button {
        padding: 2px 5px 2px;
        line-height: 20px !important;
        font-size: 10px !important;
    }

    a.revolution-button {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }
}

/*	revolution-button COLORS	*/

.revolution-button.green, .revolution-button:hover.green,
.purchase.green, .purchase:hover.green {
    background-color: #21a117;
    -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
    -moz-box-shadow: 0px 3px 0px 0px #104d0b;
    box-shadow: 0px 3px 0px 0px #104d0b;
}

.revolution-button.blue, .revolution-button:hover.blue,
.purchase.blue, .purchase:hover.blue {
    background-color: #1d78cb;
    -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
    -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
    box-shadow: 0px 3px 0px 0px #0f3e68;
}

.revolution-button.red, .revolution-button:hover.red,
.purchase.red, .purchase:hover.red {
    background-color: #cb1d1d;
    -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
    -moz-box-shadow: 0px 3px 0px 0px #7c1212;
    box-shadow: 0px 3px 0px 0px #7c1212;
}

.revolution-button.orange, .revolution-button:hover.orange,
.purchase.orange, .purchase:hover.orange {
    background-color: #ff7700;
    -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
    -moz-box-shadow: 0px 3px 0px 0px #a34c00;
    box-shadow: 0px 3px 0px 0px #a34c00;
}

.revolution-button.darkgrey, .revolution-button.grey,
.revolution-button:hover.darkgrey, .revolution-button:hover.grey,
.purchase.darkgrey, .purchase:hover.darkgrey {
    background-color: #555;
    -webkit-box-shadow: 0px 3px 0px 0px #222;
    -moz-box-shadow: 0px 3px 0px 0px #222;
    box-shadow: 0px 3px 0px 0px #222;
}

.revolution-button.lightgrey, .revolution-button:hover.lightgrey,
.purchase.lightgrey, .purchase:hover.lightgrey {
    background-color: #888;
    -webkit-box-shadow: 0px 3px 0px 0px #555;
    -moz-box-shadow: 0px 3px 0px 0px #555;
    box-shadow: 0px 3px 0px 0px #555;
}


