.product-img-box div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: left;
	width: 353px; 
	height: 381px; 
}
.product-img-box div.content a, .product-img-boxdiv.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: none;
}
div.controls {position: relative;}
div.controls a {
	padding: 5px;
	line-height:28px;
}
div.controls a.play {
    color: #41413F;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
.nav-controls .prev , .nav-controls .next {float:left; width:22px; height:22px}
.nav-controls .prev {background:url(../images/pager_arrow_left.gif) no-repeat center center; }
.nav-controls .next {background:url(../images/pager_arrow_right.gif) no-repeat center center; }

div.slideshow-container {
	position: relative;
	clear: both;
	height: 352px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	/*width: 353px;*/
	height: 350px; /* This should be set to be at least the height of the largest image in the slideshow */
	/*line-height: 350px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
}
div.download {
	float: right;
}
div.caption-container {
	position: relative;
	clear: left;
	height: 75px;
}
span.image-caption {
	display: block;
	position: absolute;
	width: 550px;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	padding-bottom: 23px; /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0 0 0 10px;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 20px 9px 0;
	list-style: none;
}
a.thumb {
    display: block;
}
ul.thumbs li.selected a.thumb {
	background: none repeat scroll 0 0 #f6f6f6;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	display:none;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

@media only screen and (max-width: 480px) {
	.product-img-box div.content{width:306px;}
}