/***** Standard 960px *****/

@media (min-width: 1300px) {

/*.slideshow img {width:770px !important;height:402px !important;}*/
  .row {
    *zoom: 1;
  }
  .row:before, .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .featured-products li {
	 float:left;
	 margin-left:30px; 
  }
  [class*="span"] {
    float: left;
    margin-left: 30px;
  }
   .boxed .product-shop {
	 width: 488px;
  }
  .boxed .product-img-box {
	 width: 298px;
	 
  }
   .featured-products li {
	width: 204px;  
  }
  .span1 {
    width: 70px;
  }
  .span2 {
    width: 164px;
  }
  .span25 {
	width: 210px;  
  }
  .span4 {
    width: 370px;
  }
   .span44 {
    width: 318px;
  }
  .span5 {
    width: 470px;
  }
  .span6 {
    width: 485px;
  }
  .span7 {
    width: 570px;
  }
  .span8 {
    width: 738px;
  }
  .span9 {
    width: 870px;
  }
  .span10 {
    width: 970px;
  }
  .span11 {
    width: 1070px;
  }
  .span12, .container,.page {
    /*width: 1200px;*/
  }
  .offset1 {
    margin-left: 130px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .slider-container   .row-fluid {
    width:1140px;
    *zoom: 1;
  }
  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.564102564%;
  }
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid > .span1 {
    width: 5.982905983%;
  }
  .row-fluid > .span2 {
    width: 14.529914530000001%;
  }
  .row-fluid > .span25 {
	 width:18.785%;
  }
  .row-fluid > .span3 {
    width: 23%;
  }
  .row-fluid > .span4 {
    width: 22.999931624%;
  }
  .row-fluid > .span5 {
    width: 40.170940171000005%;
  }
  .row-fluid > .span6 {
    width: 48.717948718%;
  }
  .row-fluid > .span7 {
    width: 57.264957265%;
  }
  .row-fluid > .span8 {
    width: 65.81196581200001%;
  }
  .row-fluid > .span9 {
    width: 74.358974359%;
  }
  .row-fluid > .span10 {
    width: 82.905982906%;
  }
  .row-fluid > .span11 {
    width: 91.45299145300001%;
  }
  .row-fluid > .span12 {
    width: 100%;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 60px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 160px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 260px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 360px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 460px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 560px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 660px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 760px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 860px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 960px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1060px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1160px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  
}

@media only screen and (min-width:1020px) and (max-width:1300px) {
  .crosssell .products-grid .item { margin: 0 44px 30px 0;}
  .brands li.item { margin-right: 30px;}
  .brands li:nth-child(1), .brands li:nth-child(6){width: 482px;}
  .brands li:nth-child(2), .brands li:nth-child(3), .brands li:nth-child(4), .brands li:nth-child(5){width: 226px;}
  .catalog-product-view .col-main { width: 770px;}
  .products-grid .ratings {margin: 7px 11px;}
  .block-related .ratings {margin: 15px 4px;}
  .block-related .ratings .rating-links { margin: -2px 0 0; padding: 0 5px !important;}
  #upsell-product-table .price { font-size: 20px;}
  .main .slider-container, .jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-container-horizontal {width:100%;}
  #nav .custom-block-right iframe{ height: 290px !important; width: 320px !important;}
  #hellothemesNav .custom-block-right { width: 52%;}
  #nav li.custom-block > ul > li{width: 490px !important;}
  #hellothemesNav .custom-block-left { width: 48%;}
  #nav .content-block img { height: 18px; margin-right: 5px; margin-top: -4px; width: 20px;}
  #nav .content-block h3{  font-size: 11px;  line-height: 20px !important; width: 75%;}
  #nav .content-block { width: 100%;}
  .flexslider .slides .description {width: 480px;}
  .flexslider .slides .slide_title .title { font-size: 66px;}
  .flexslider .slides .slide_title .subtitle { font-size: 46px;}
  .flexslider .slides .contenedor button { margin: 0 155px;}
  .flexslider .slides .contenedor p { font-size: 16px;}
  .product-view .product-img-box .product-image { height: 250px !important; width: 250px !important;}
  .product-view .product-img-box .product-image img { height: 100%; width: 100%;}
  .product-view .prod-content { float: right; width: 57%;}
  .product-view .prod-content .add-to-links { margin: 0 10px;}
  .block-related li {width: 166px;}
  .block-related .product .product-image { width: 167px;}
  .block-related .product .product-image img{ width: 165px;}
  .block-related .jcarousel-prev-horizontal { right: 100px;}
  .product-img-box div.content, div.slideshow img { width: 250px !important;}
  .products-list .product-shop { width: 35%;}
  .slider-banner .banner-block {width: 28%;}
  .products-grid .btn-cart, .category-products .item .out-of-stock{  margin: 15px 18px 0; padding: 0 20px;} 
  .products-grid .ratings { margin: 7px 20px;}
  .sticker { left: 60px;}
  .products-grid .price-box .old-price, .products-grid .price-box .special-price { margin: 0 16px;}
  .product-view .sticker { left: 100px;}
  .product-view .product-img-box {width: 37% !important;}
	.cart-collaterals .grid_4 { width: 315px !important;}
  .top-opc {width:745px;}	
	.opc {width:100%;}
	.catalog-category-view .col-main .products-grid , .catalogsearch-result-index .col-main .products-grid, .cms-page-view .col-main .products-grid{width: 740px !important;}
	.checkout-cart-index .slider-container{display:none;}	
	.information{width:565px;}
	.information .item{width:560px;}
	.opc .form-list li.wide input.input-text { width: 678px;}
	.opc .form-list input.input-text { width: 330px;}
	.form-list select { width: 341px;}
	.customer-address-form .form-list select { width: 267px;}
	#upsell-product-table .minimal-price-link{float:left;}
	.block-compare .block-content .actions a {float:right;}
	.block-viewed .block-content li a img{width:50px !important;}
	.span7 { width: 50%;}	
	#hellothemesNav ul li ol li {width:200px;}
  .row {width: 1000px;}
  .products-grid .item, #upsell-product-table .item { margin: 0 30px 30px 0;}
  .col-right, .col-left {width: 180px;}
  .block-viewed .product-info { float: left; width: 103px;}
  .block .border span { width: 90px;}
  .block.block-subscribe input { margin: 0 15px 10px;}
  .nav-block-right.recomended #carousel1 .span33 { width: 163px;}
  .catalog-category-view .products-grid li.item { height: 410px !important;}
  .cms-index-index .main-container .products-grid li.item { height: 410px !important;}
  #custom #carousel1 .sticker { left: 27px;}
  #custom .product-actions a span {  font-size: 12px;  padding: 0 6px !important;}
  .custom-content { padding: 20px; width: 96%;}
  #custom #carousel1 .products-grid li.item { margin: 0 27px 0 0 !important; height: 290px !important;}
  .link-cart span { font-size: 13px;}
	
  .span33 { width: 225px;}
  #tabs .ui-tabs-panel {width: 737px;}
  #tabs .ui-tabs-nav {width: 220px;}
  .flexslider .slides .contenedor strong {height: 115px; display:block; overflow: hidden;}
  .col1-layout .product-view .product-shop{width:600px;}
  .footer-subscribe label, .footer-social label {padding: 0 15px 0 20px;}
  .row-fluid > .span4 {width: 22.915%;}
  .product-actions  .more_view {background-size:; width:40px; height:40px; }
  .product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px;} 
  .row-fluid > .span8 {width: 100%;}
  .img-right-slide {display:none;}
  .homepage-banners a .content{margin:18px;}
  .col1-layout .products-grid { width:900px; margin:0;}
  .home-right {margin-right:30px;}
  .home-main {width:600px;}
  .col1-layout .home-main .products-grid {width:600px;}
  .home-main .category-products {margin-left:30px;}
  .flexslider .slides .content{max-width:760px;}
  .product-view .product-additional {display:none }
  .product-view .box-up-sell2 {display:block; margin-left:0; }
  .col-main-left, .col-main-right { width:600px; padding:30px 0 0; margin:0; min-height:400px; }
  .col-main {width:740px;}	
  .cart .cart-collaterals .grid_4{margin:0 2px 0 16px;}
  .homepage-banners {width:900px !important;}
  .homepage-banners .grid_6{width:420px !important; margin:0 15px;}
  .products-list {margin: 0 30px 0 0; }
  .products-list .add-to-links li:first-child span {display:none}
  .top-opc li{ float: left; margin: 0 10px 30px 0; width: 138px;}
  #store-content ul li { width: 16%;}
  .hover-store{ line-height: 240px; font-size: 25px;}
  #checkout-step-login input.input-text {width: 248px;}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .flexslider .slides .contenedor strong { font-size: 16px !important; line-height: 15px !important;}
  .flexslider .slides .contenedor p {  font-size: 8px;}
}
/***** iPad Smaller than 959px *****/
@media only screen and (min-width: 767px) and (max-width: 1020px) {
  .crosssell .products-grid .item { margin: 0 25px 30px 0;}
  .brands li.item { margin-right: 20px; margin-top: 20px;}
  .brands li:nth-child(1), .brands li:nth-child(6){width: 365px;}
  .brands li:nth-child(2), .brands li:nth-child(3), .brands li:nth-child(4), .brands li:nth-child(5){width: 172px;}
  .sorter .amount { margin-right: 50px;}
  .product-view .ajax_loading { left: 45%; top: 43%;}
  .product-view .sticker { left: 320px;}
  #upsell-product-table .price {  font-size: 16px;}
  .main .slider-container, .jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-container-horizontal {width:100%; }
  .flexslider .slides .contenedor strong {font-size: 40px;}
  .flexslider .slides .contenedor p { font-size: 30px;}
  .flexslider .slides .contenedor button {font-size: 20px; margin: 25px 90px;}
  .flexslider .slides .description { top: 15px;}
  .flexslider .slides .slide_title .title {font-size: 43px;}
  .flexslider .slides .slide_title .subtitle {font-size: 30px;}
  .flexslider .slides .contenedor p { display: none;}
  .link-compare{display: none !important;}
  .products-list .product-shop { width: 36%;}
  .products-grid .btn-cart { padding: 0 7px;}
  .sticker { left: 65px;}
  .products-grid .item .details, #upsell-product-table .item .details { box-shadow: 0 -3px 4px -4px #000000;}
  .slider-banner .banner-block { width: 27%;}
  .slider-banner .banner-block p { font-size: 13px;}
  .slider-banner .banner-block h2 { font-size: 20px;}
  .cms-index-index #carousel1 .products-grid li.item, .catalog-category-view .products-grid li.item { height: 460px !important;}
  .products-grid .ratings { margin: 7px 23px;}
  .product-view .prod-content {width: 100%; margin-left: 0;}
  .product-view { width: 100%;}
  .navmobile{ display: block; float: left;  width: 100%; margin-top:20px;}
  #hellothemesNav, #nav, .links-block{display:none; }
	#left-nav li a {padding: 5px 0; color:#fff;}
	#left-nav li span.arrow{ background-image: url("../images/arrow_menu.png");  background-position: 25% -12% !important; background-repeat: no-repeat;height:25px;padding:0;position:absolute;right:0;top:8px;width:32px;z-index:0}
	#left-nav li.active span.arrow, #left-nav li.openn span.arrow { background-position: 25% 111% !important;  color: #FFFFFF;}
	#left-nav ul.subcategory {background: none repeat scroll 0 0 #727272;}
	#left-nav li.active a, #left-nav li.openn a {text-shadow:none; color:#ffffff;}
	#left-nav .category.over,#left-nav .cate.over, #left-nav li.active, #left-nav li.openn{background:none}
	nav.hellothemes{display:none; }
	.catalog-category-view .products-grid ,	.catalogsearch-result-index .products-grid {width: 750px !important;}
	#wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){  display:none !important;}
	.checkout-cart-index .slider-container{display:none;}	
	.data-table .btn-remove2{float:left;}
	.footer-top .span7 { height: 84px !important;}
	.opc .form-list li.wide input.input-text {width: 696px;}
	.header-switch span.current {}
	.cms-page-view .products-grid{width:750px;}
	.header-switch {line-height: 14px;}
	.products-grid .item.over .details, .products-grid .item.no-shadow .details{transform: translateY(0px) !important; -ms-transform:translateY(0px) !important; /* IE */ -webkit-transform:translateY(0px) !important; /* Safari and Chrome */-o-transform:translateY(0px) !important; /* Opera */}
  #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width: 100%;  margin: 20px auto 0 !important; float: none;}
	.opc .form-list .field { width: 100%;}
	.opc .form-list input.input-text { width: 696px;}
	.form-list select { width: 708px;}
	.customer-address-form .form-list select { width: 267px;}
	.product-block {  float: left; margin-top: 15px; width: 740px;}
	.customer-account-create .fieldset { float: left; width: 50%; padding:0;}
	.customer-account-create .buttons-set { margin:0;}
	.customer-account-create .col1-layout .col-main, .customer-account-create .account-create {  margin: 0;  width: 100%;}
	.box-up-sell .catalog-image .quick-view span{top:45px;}
	.span7 { width: 50%;}
	.hover-store {  font-size: 16px; line-height: 145px;}
	#setting-content ul li { width: 44%;}
	.flexslider .slides > li { height: 317px !important;}
	.flexslider .slides .contenedor strong {height: 66px; display:block; overflow: hidden;font-size: 24px;}
  .add-to-links {text-align:center; opacity: 1 !important;}
  .products-grid .item, #upsell-product-table .item { margin: 0 27px 30px 0;}
  .col-main, .catalog-product-view .col-main {width:100%;}
  .top-opc {width: 100%;}
  .top-opc li { margin: 0 10px 30px 0; width: 140px;}

  .btn-remove, .btn-edit {  display: inline;}
  .products-list .product-actions .btn-cart{margin:0;}
  .customer-account-login .account-login, .customer-account-forgotpassword .account-login, .customer-account-create .account-create { float: none;}
  .row { margin:0 auto; width:750px; }
  .spancat {width: 220px;}
  .span33 { width: 230px;}
  #tabs .ui-tabs-panel {width: 100%;}
  #tabs .ui-tabs-nav {  height: auto;   width: 270px;}
  .row-fluid > .span4 {width: 22.915%;}
  .row-fluid > .span8 {width: 100%;}
  .footer-container .span6:first-child { float: none; margin-left: 0; text-align: center; width: 100%;}
  .footer-top .span7 {height:auto;}
  .footer-container .copyright .payment-options {float: none;margin: 20px 0 0;padding: 0;text-align: center;width: auto;}
  .product-actions{opacity:1; float:inherit;}
  #search {width:170px;}
  .img-right-slide {display:none;}
  .footer-subscribe .input-box { width: 85%;}
  .product-actions  .more_view {background-size:; width:40px; height:40px; left:-4%; }
  .product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px; right:-4%;} 
  #fancybox-frame .product-img-box {display:none;}
  nav .nav-top-title, .nav-container .nav-top-title{display:block; }
  .cart-collaterals.row {margin:0 auto; width:100%;}
  .cart .cart-collaterals .grid_4{width:600px; margin:0 auto 24px; float:none;}
  .col-left, .col-right {display:none;}
  .checkout-onepage-index .col-right {padding:20px 0 0; float:none; margin:0 0 0 84px; }
  .checkout-onepage-index .col-right .block { float:none; margin:0 auto 30px; width:378px; }
  .home-main .category-products {margin:0 0 30px 0;}
  .home-main, .home-right {float:none}
  .home-right {width:600px; margin:0 auto;}
  .home-main, .col1-layout .home-main .products-grid {width:600px;}
  .flexslider .slides .content{margin-top: 45px !important; padding: 10px;}
  .flexslider .slides .slide_title { font-size: 40px;  margin-top: 0px;  }
  .flexslider .slides .content p {font-size: 12px;}
  .flexslider .slides .content button { font-size: 15px;}
  .flexslider .slides .content strong{font-size:48px; line-height:40px; }
  .site-block, .mousetrap, #cloud-big-zoom {display:none; }
  #shopping-cart-totals-table strong {font-size:18px; padding:0 10px 0 0;}
  .data-table tfoot td { text-align:right !important;}
  .data-table td {padding:10px;}
  .data-table td.td-name h2 {font-size:20px; font-weight:300; }
  .data-table td.td-image a {text-align:center; }
  .data-table td.td-image img {width:100px;}
  .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
  .data-table td.td-price {padding:10px; background:#fafafa;}
  .data-table td.td-qty {padding:0 10px; background:#fafafa;}
  .data-table td.td-delete {background:#fafafa; text-align:center !important;}
  .data-table .td-title {display:inline-block; width:100px; padding:0 10px 0 0; font-weight:bold; }
  .data-table th.td-wishlist, .data-table td.td-wishlist {display:none;}
  #product-attribute-specs-table  th { display:block;}
  #product-review-table {display:table; }
  #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
  #product-review-table tr{display:table-row; }
  #product-review-table td{display:table-cell; }
  #product-review-table th{display:table-cell; padding:8px 3px; }
  .product-view .product-additional {display:none }
  .product-view .box-up-sell2 {display:block; margin-left:0; }
  .product-view .product-img-box {float:none; margin:0 auto 20px;}
  .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
  .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 20px;}
  .product-view .product-shop-info .add-to-links li.wishlist{margin-left:0}
  .main .slider-container h3 {width:500px; }
  .toolbar-switch .current { display:none; }
  .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
  .toolbar-switch select { display:inline; height:auto; }
  .products-list {margin: 0 15px; }
  .products-list .price-box {float:none}
  .products-list .ratings {float:none; margin:5px 0;}
  .products-list .add-to-links li:first-child span {display:none}
  .opc {width:100%;}
  .opc .td-label {display:block; float:left; }
}

/***** iPhone (portrait) *****/
@media only screen and (max-width: 767px) {
  .sorter .sort-by { margin: 10px 6px 0 0;}
  .sorter .view-mode { margin: 10px 0 0;}
  .product-view .ajax_loading {left: 40%;}
  .product-view .sticker { left: 174px;}
  .zoomtracker, .featuredimagezoomerhidden{display: none;}
  .page-title h1, .page-title h2 { font-size: 13px;}
  .footer-subscribe .validation-advice {  margin-bottom: 10px; position: inherit;}
  .data-table .btn-remove2 { margin-bottom: 5px; margin-top: 16px;}
  .add-to-links {opacity: 1 !important;}
  .slider-banner .banner-block { margin: 25px 0; width: 100%;}
  .slider-banner .banner-block p { font-size: 12px;}
  .slider-banner .banner-block h2 { font-size: 18px;}
  .footer-container .copyright { padding: 0;}
  .footer-info .span3{width: 100%; margin-bottom: 20px; margin-left: 0;}
  .product-view { width: 100%;}
  .std h2 { font-size: 16px;}
  .product-view .prod-content { margin-top: 20px; width: 100%; margin-left: 0;}
  .products-grid .item .details, #upsell-product-table .item .details { box-shadow: 0 -3px 4px -4px #000000;}
  .link-compare{display: none !important;}
  .data-table td { padding: 3px;}
  .data-table th { padding: 10px 0; text-align: center;}
  .products-list .price-box {width: 100%;}
  .jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-container-horizontal {width:100%;}


  .navmobile{ display: block; float: left;  width: 100%;}
  #hellothemesNav, #nav{display:none; }
  #left-nav li a {padding: 5px 0; color:#fff;}
  #left-nav li span.arrow{ background-image: url("../images/arrow_menu.png");  background-position: 25% -12% !important; background-repeat: no-repeat;height:25px;padding:0;position:absolute;right:0;top:8px;width:32px;z-index:0}
  #left-nav li.active span.arrow, #left-nav li.openn span.arrow { background-image: url("../images/arrow_menu.png");  background-position: 25% 111% !important;  color: #FFFFFF;}
  #left-nav ul.subcategory {background: none repeat scroll 0 0 #727272;}
  #left-nav li.active a, #left-nav li.openn a {text-shadow:none; color:#ffffff;}
  #left-nav .category.over,#left-nav .cate.over, #left-nav li.active, #left-nav li.openn{background:none}
  nav.hellothemes{display:none; }
  .product-actions{opacity:1; float:inherit;}
  .add-to-links li.compare{display:none;}
  .toolbar .sorter { float: left; width: 100%;}
  #shopping-cart-table tbody td:nth-child(2), #shopping-cart-table th:nth-child(2), #shopping-cart-table tbody td:nth-child(3), #shopping-cart-table th:nth-child(3), #shopping-cart-table tbody td:nth-child(4), #shopping-cart-table th:nth-child(4){display:none;}	
  .data-table td.td-image img {width:100px;}
  .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline;}
  .top-opc {width:100%; margin:0}
  .customer-account-login .information, .customer-account-create .information{display:none;}	
  .customer-account-login .account-login, .customer-account-forgotpassword .account-login, .customer-account-create .account-create {float: none;}
  .header-switch span.current{display:block;}
  .col2-set .col-2, .col2-set .col-1 {float: left;width: 100%;}	
  .products-grid .item.over .details, .products-grid .item.no-shadow .details{transform: translateY(0px) !important; -ms-transform:translateY(0px) !important; /* IE */ -webkit-transform:translateY(0px) !important; /* Safari and Chrome */-o-transform:translateY(0px) !important; /* Opera */}
  #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width:100%;  margin: 20px auto 0 !important; float: none;}
  .product-tabs li {float:none; margin:0 0 10px;}
  .product-block { float: left;  margin-top: 15px;  width: 100%;}
  .customer-account-create .fieldset, .customer-account-edit .fieldset, .newsletter-manage-index .fieldset, .customer-address-form .fieldset{width:95%;padding-left: 0;}
  .customer-account-create .account-create, .customer-account-create .buttons-set, .newsletter-manage-index .buttons-set, .customer-address-form .buttons-set{ margin:0;}	
  .block-login .block-title {padding:20px 20px 30px;}
  .switcher{display:none;}
  .row { margin:0 auto; width:300px; }
  .product-actions  .more_view {background-size:; width:40px; height:40px; left:-2%; }
  .product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px; right:-2%;} 
  .span33 { width: 196px;}
  .row-fluid > .span8 {width: 100%;}
  .img-right-slide, .payment-options.span3 {display:none;}
  .slider.span8 {width:100%;}
  .span7 {width: 100%;}
  .footer-container .span6 {width: 100%;}
  ul.links { float:none; margin:0; }
  .links li{ line-height:120%; display:inline; padding:0 5px; text-align:center; white-space:nowrap; }
  .links li.separator {display:none; }
  .copyright .links li {padding:0; margin-right:11px;}
  .footer-container address {margin-top: 10px;text-align: center;}
  .toolbar-switch .current { display:none; }
  .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
  .toolbar-switch select { display:inline; height:auto; }
  header a.logo { display: block; float: none; margin: 20px 10px 30px; text-align: center; }
  header h1.logo { float:none; display:block; }
  .cart-top-container .details .cart-top-title{display:block; }*/
  .search-top-container {margin:20px 4px 0 10px; padding:0; float:right; clear:none; width:100%; margin:15px 0;}
  .search-top-container .search-top, .search-top-container .search-form-border{display:none; }
  #search_mini_form .form-search { min-width: auto;}
  #hellothemesNav, #nav, .links-block{display:none; }
  nav .nav-top-title, .nav-container .nav-top-title{display:block; }
  #fancybox-content .product-view .product-img-box {display:none;}
  .col1-layout .products-grid, .catalog-product-view .col-main { width:100%; clear:both; margin:0; }
  .col-main, .col-main-left, .col-main-right { float:none !important; width:100%; margin:0 auto; padding:30px 0 0; }
  .spancat {width: 190px;}
  .fancybox.quick-view {display:none;}
  .product-actions .more_view {left: 16%;}
  .col-left { float:none; margin:0 auto; }
  .col1-layout .col-main {width: 300px; margin:0;}
  .col1-layout .col-main .products-grid { margin:0;}
  .catalog-category-view .col-left, .catalog-category-view .col-right {padding:0;}
  .cart .cart-collaterals .grid_4{width:100% !important; margin:0 0 25px;}
  .checkout-onepage-index .col-right {padding:20px 0 0; float:none; margin:0 auto; }
  .checkout-onepage-index .col-right .block { float:none; margin:0 auto 30px; }
  .home-main .category-products {width:300px; margin:0 auto 30px ;}
  .home-main, .home-right {float:none; margin:30px auto 0}
  .home-main, .col1-layout .home-main .products-grid {width:300px;}
  .flexslider .slides .content{max-width:240px; margin:30px; }
  .flexslider .slides .content strong{font-size:32px; line-height:26px; }
  .site-block, .mousetrap, #cloud-big-zoom {display:none; }
  .block-login {width:300px;}
  .block-login .block-content {padding:0 18px 25px;}
  .block-login .new-users {width:300px;margin:0 0 -25px;}
  .product-view .product-additional {display:none }
  .product-view .box-up-sell2 {display:block; margin-left:0; }
  .product-view .product-img-box {float:none; margin:0 auto 20px; }
  .product-view .product-img-box .product-image img{ width:350px; height:auto; }
  .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
  .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 0px;}
  .product-tabs-content {margin-top:0; }
  .product-view .box-tags .form-add .input-box {margin: 0; width: 150px;}
  .product-view .box-tags .form-add input.input-text {width:167px;}
  .main .slider-container h3 {width:190px; }
  .cart .page-title {height:auto;}
  .cart .page-title .checkout-types {margin:60px 15px 0; float:none;}
  .cart .title-buttons .checkout-types li {float:none; margin:0; text-align:center;}
  #shopping-cart-totals-table strong {font-size:20px; padding:0 10px 0 0;}
  .data-table td.td-name h2 {font-size:20px; font-weight:300; }
  .data-table td.td-image a {text-align:center; }
  .data-table td.td-price {padding:5px;}
  .data-table td.td-qty {padding:0 10px;}
  .data-table td.td-delete {background:#fafafa; text-align:center !important;}
  .data-table .td-actions {display:inline; padding:0 5px; }
  .product-tabs-content .data-table th { display:block;}
  #product-review-table {display:table; }
  #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
  #product-review-table tr{display:table-row; }
  #product-review-table td{display:table-cell; }
  #product-review-table th{display:table-cell; padding:8px 3px; }
  #toTop {display:none !important;}
  .pager {text-align:center; }
  .products-list .ratings {float:none; margin:5px 0;}
  .products-list .add-to-links li:first-child span {display:none}
  .products-list .product-shop {margin:10px 0 0;}
  .top-opc li{margin:0 0 30px 0}
  #checkout-review-submit p {margin:0 20px 0 0;}
  #checkout-step-login input.input-text {width:218px;}
}

/***** iPhone (landscape) *****/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .products-list .sticker { left: 9px; width: 73px;} 
  .crosssell .products-grid .item{ margin: 0 25px 30px 0;}
  .brands li.item { margin-right: 11px; margin-top: 11px;}
  .brands li:nth-child(1), .brands li:nth-child(6){width: 222px;}
  .brands li:nth-child(2), .brands li:nth-child(3), .brands li:nth-child(4), .brands li:nth-child(5){width: 105px;}
  .sorter .amount{width: 100%;}
  .products-list .sticker-top-left:after { border-width: 11px 51px;}
  .products-list .specialto { width: 102px !important;}
  .products-list .sticker-top-left { top: 100px;}
  .flexslider .slides .contenedor button {font-size: 12px; margin: 8px 60px;}
  .flexslider .slides .slide_title .title { font-size: 30px; padding: 5px;}
  .flexslider .slides .slide_title .subtitle { font-size: 21px; padding: 5px;}
  .flexslider .slides .contenedor p { display: none;}
  .crosssell .jcarousel-next-horizontal, .crosssell .jcarousel-prev-horizontal { top: -455px;}
  #upsell-product-table .price {font-size: 15px;}
  .jcarousel-skin-tango .jcarousel-item-horizontal { height: 350px !important;}
  .flexslider .slides .description { top: 15px; width: 221px;}
  .magnifyarea { left: 115px !important; top: 785px !important; display: none;}
  .products-list .product-image, .products-list .f-left {width: 100px;}
  .products-grid .item .details .content { padding: 30px 8px 10px;}
  .sticker { left: 11px;}
  .products-grid .btn-cart { margin: 15px 0 0; padding: 0 5px;}
  .products-grid .out-of-stock {padding: 0 17px;}
  .products-grid .ratings { margin: 7px 21px}
  .ratings .rating-links { margin: 5px 0 0 9px;}
  .products-list .ratings .rating-links { margin: 0;}
	.footer-top .span7 { height: auto;}
	.ui-widget-header{height:auto;}
	#tabs .ui-tabs-panel { float: left; position: relative; width: 99%}
	#search { margin: 0; width: 206px;}
	.col1-layout .col-main, .col1-layout .product-view .product-shop {width: 100%;}
	.products-list .catalog-image, .products-list .product-image img{width:100px;}
	.products-list .catalog-image .quick-view span{ top: 20%;}
	.products-list .product-shop {width: 43%;}
	.products-list .product-actions .btn-cart{margin:0;}
	.products-list .product-actions {height:auto;}
	.data-table td.td-edit, .data-table .btn-remove {  display: block;}
	#wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){ display:none !important;}
	.catalog-category-view .products-grid ,	.catalogsearch-result-index .products-grid {width: 460px !important;}
	.cart-top-container .summary{width:111px;}
  .data-table .td-title {display:inline-block; width:auto; padding:0 10px 0 0; font-weight:bold; }
	.form-list li.wide select { width: 390px;}
	.checkout-cart-index .slider-container{display:none;}
	.product-actions{ padding-bottom: 5px; padding-top: 5px;}	
	.span33 {  width: 133px;}
	.catalog-category-view .products-grid li.item, .cms-index-index #carousel1 .products-grid li.item, .cms-page-view .products-grid li.item, .cms-page-view .products-grid li.item, .cms-index-index #tabs .products-grid li.item, .catalogsearch-result-index .products-grid li.item, #related-products-list li.item {  height: 388px !important;}
	.opc .form-list li.wide input.input-text {width: 400px !important;}
	.cart-top-container { float: left;  margin: 0;  width: 38%;}
	.search-top-container {  clear: none;  float: right;  margin: 0 0 25px;  padding: 0;  width: 60%;}
	.form-list li.wide .input-box { width: 100%;}
	.form-list li.wide input.input-text { width: 253px;}
	.search-autocomplete{left:0 !important; height:auto;}
	.cms-page-view .products-grid{width:470px;}
	.header-switch {line-height: 14px;}
	.catalog-product-view button.btn-cart{width:100%;}
	.footer-info ifram{width:180px !important;}
	.cart-top-container .details{left:0px;}
	.opc .form-list .field {  width: 100%;}
	.opc .form-list input.input-text {  width: 400px;}
	.form-list select { width: 413px;}
	#upsell-product-table .minimal-price-link{float:left;}
	.customer-account-create .form-list input.input-text, .customer-account-edit .form-list input.input-text, .customer-address-form .form-list input.input-text, .customer-address-form .form-list li.wide input.input-text { width: 445px;}
	.customer-address-form .form-list select { width: 457px;}
	#wishlist-view-form  .buttons-set button{padding: 0 10px !important;}
	.products-list .btn-cart {padding: 0 6px;}
	.catalog-image .quick-view span{ top: 45px !important;}
	#product-review-table{width:100%;}
	#product-review-table th{padding:10px;}
	#review-form .form-list {float: left; width: 100%;}
	#review-form .form-list input.input-text, #review-form .form-list textarea{width:390px;}
	.flexslider .slides > li {  height: 190px !important;}
  .products-grid .item, #upsell-product-table .item { margin: 0 25px 30px 0;}
	
  .navmobile { clear: both;}	
  .row { margin:0 auto; width:456px; }
  .row-fluid > .span8 {width: 100%;}
  .img-right-slide {display:none;}
  .sidebar {display:none;}
  ul.links { display:inline;}
  .links li{ line-height:150%; display:inline; margin-right:15px;  }
  .links li:last-child{ margin-right:0; }
  .links li.separator {display:none; }
  .col1-layout .col-main .products-grid { margin:0;}
  .homepage-banners a .content p{display:block;}
  .flexslider .slides .content{max-width:396px; margin:30px; }
  .homepage-banners {width:300px !important;}
  .homepage-banners .grid_6{width:300px;}
  .homepage-banners a .content p{display:none;}
  .product-view .product-shop {clear: both;float: none;padding-right: 0;position: relative;width: 100%;}
}

@media only screen and (max-width: 480px) {
  .brands li.item {width: 100%;}
  .sorter .amount{margin-right: 0;}
  .products-list .sticker-top-left { top: 75px;}
  .products-list .sticker-top-left:after { border-width: 10px 39px;}
  .products-list .specialto { width: 77px !important;}
  .products-list .sticker { left: 9px; width: 49px;}
  .flexslider .slides .contenedor button {font-size: 12px; margin: 8px 35px; padding: 7px;}
  .flexslider .slides .description {left: 10px; top: 10px; width: 159px;}
  .flexslider .slides .slide_title .title {font-size: 20px; padding: 5px; margin-bottom: 2px;}
  .flexslider .slides .slide_title .subtitle { font-size: 14px; padding: 5px;}
  .product-view .add-to-cart button.button.btn-cart span{display: none;}
  .product-view .prod-content .add-to-links {margin: 0; float: right;}
  .crosssell .jcarousel-next-horizontal, .crosssell .jcarousel-prev-horizontal { top: -632px;}
  .products-list .sticker {background-size: 78px auto;} 
  .products-list .sticker span { font-size: 11px !important;}
  .slider-container .products-grid .item { height: 525px !important;}
  .products-list .add-to-links { float: right; width: 40%; margin-top: 0;}
  .magnifyarea { left: 50px !important; top: 866px !important; display: none;}
  .product-view .sticker { left: 100px;}
  .product-view .add-to-cart { margin: 0;}
  .product-view .qty-container { float: left;}
  .products-list .product-actions{float: none; width: 100%;}
  .products-list .product-image, .products-list .f-left {width: 75px;}
  .products-grid .btn-cart { margin: 15px 53px 0;}
  .products-grid .ratings { margin: 7px 57px;}
  .sticker {left: 100px;}
  .products-grid .price-box .old-price, .products-grid .price-box .special-price { margin: 0 34px;}
  .top-switch-bg .links { float: left; width: 65%;}
  .links li a { line-height: 30px;}
  .top-switch-bg {height: 65px;}
  .header-dropdown { top: 65px;}
  .currency-switch .ulSelect2{top:65px; left:10;}
  .search-top-container { margin: 15px 0;}
	.navmobile { clear: both;}	
	#wishlist-view-form  button.button span span, #shopping-cart-table button.button span span{ font-size: 12px; padding: 0 7px;}
	.dashboard .welcome-msg { margin: 8px 0 0;}
	#my-orders-table tbody td:nth-child(2), #my-orders-table th:nth-child(2), #my-orders-table tbody td:nth-child(3), #my-orders-table th:nth-child(3), #my-orders-table tbody td:nth-child(5), #my-orders-table th:nth-child(5){  display:none !important;}
	#shopping-cart-table td.td-image img { width: 50px;}
	#shopping-cart-table td.td-qty{padding:0}
	#shopping-cart-table td.td-image img { width: 30px;}
	#shopping-cart-table .btn-edit2 { height: 40px; margin-bottom: 0px; width: 40px;}
	#shopping-cart-table .button, #shopping-cart-table .btn-continue { display: inline-block; float: none; margin: 10px auto;}
	.checkout-cart-index .slider-container{display:none;}
	.form-list li.wide select { width: 250px;}
	.opc .step{padding:10px;}
	.product-actions{padding-top:15px;}
	.product-actions{opacity:1; float:inherit;}
	.product-img-box div.content{width:305px;}
	.catalog-category-view .products-grid, .catalogsearch-result-index .products-grid {width: 300px !important;}
	#wishlist-table tbody td:nth-child(2), #wishlist-table th:nth-child(2), #wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){  display:none !important;}
	.cms-index-index #carousel1 .products-grid li.item, .catalog-category-view .products-grid li.item, .cms-page-view  .products-grid li.item, .catalogsearch-result-index .products-grid li.item { height: 540px !important;}
	.cms-index-index #tabs .products-grid li.item, #related-products-list li.item  { min-height: 495px !important;}	
	.footer-social label{padding: 0 0 0 30px;}
	.social-links a { margin-left: 3px; margin-right: 0;}
	.product-img-box div.content{width:303px;}
	.product-view .product-shop .no-rating, .product-view .product-shop .ratings{float:left;}
	.catalog-product-view .price-box .price, .review-product-list .price-box .price { font-size: 16px;}
	.block .block-content li, .block .block-content li.item {  background: none repeat scroll 0 center transparent !important;}
	.header-switch span.current{display:block;}
	.opc .form-list .field { Width: 100%;}
	.opc .form-list li.wide input.input-text { Width: 88%;}
	.links a{font-size:10px !important;}
	.customer-address-index button.button span span {padding: 0; font-size: 10px;}
	.customer-address-index button.button {padding: 0 10px;}
	.col2-left-layout .page-title {margin: 0 0px;}
	.form-list li.wide input.input-text { width: 254px;}
	.form-list select {width: 266px;}
	.cms-page-view .products-grid{width:300px;}
  .cart-top-container { clear: none; float: left; margin: 20px 0 0; width: 100%;}
	.catalog-category-view img {  max-width: 100%;}
	.catalog-image .quick-view span{top:120px;}
	#tabs .ui-tabs-nav { float: left; height: 100%; margin-bottom: 65px;  width: 93%;}
	.ui-tabs .ui-tabs-panel {border-top:1px solid #EBEBEB;}
	.span33 {width:296px;}	
	.header-switch span.current{top:1px;}
	.opc .form-list input.input-text, .opc .form-list li.wide input.input-text  {  width: 265px;}
	.form-list select { width: 278px;}
	 .sorter .sort-by, .sorter .limiter, .sorter .sort-order{display:none;}
	.product-prev{float:left;}
	.price-notice { float: left; width: 100%; padding: 0;}
	.span2 { width: 245px;}
	#upsell-product-table li.item{height:340px; margin-bottom: 20px;}
	.customer-account-create .form-list input.input-text, .customer-account-edit .form-list input.input-text, .customer-address-form .form-list input.input-text, .customer-address-form .form-list li.wide input.input-text  { width: 290px;}
	.box-content a { margin-bottom: 15px;}
	.form-list li.wide .input-box, .customer-address-form .form-list select {  width: 302px;}
	.catalogsearch-result-index .sorter .amount{text-align:left;}
	.catalogsearch-result-index .toolbar .sort-by select{display:none;}
	.product-view .product-img-box .product-image{width:300px !important; height:300px !important;}
	.product-view .product-shop .price-box{width: 100%; margin-bottom: 10px;}
	.addthis{width:85%;}
	div.slideshow img{width:300px;}
	#search{width:232px; margin:0;}
	.page-empty #___plusone_0 { width: 80px!important;}
	#fancybox-wrap{left:0 !important; padding:10px !important; width:300px !important;}
	body.ajax-index-options{padding:0;width: 280px !important;}
	#fancybox-content{width:280px !important;}
	.products-list .catalog-image .quick-view span, .box-up-sell .catalog-image .quick-view span{top:100px;}
	#product-review-table{width:100%;}
	#review-form .form-list{float:left; width:100%;}
	#review-form .form-list input.input-text, #review-form .form-list textarea{width:248px;}
	.product-shop .ui-tabs .ui-tabs-nav li a, .product-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .product-shop .ui-tabs .ui-tabs-nav li.ui-state-hover a {  float: left;  font-size: 13px;  padding: 9px;}
	.ui-widget-header{height:35px;}
	.product-shop .add-to-box {  margin-top: 0;}
	.products-grid .btn-cart.out-of-stock span{display:block;}
  .flexslider .slides .contenedor p {display: none;}

	#tabs .ui-tabs-panel{width:100%;}
	.footer-top .span7{height:auto}
	.topcategory .category-description h1{font-size:1.5em;}
	.topcategory .category-description p{font-size:10px;}
	.products-list .catalog-image, .products-list .product-image img{width:75px;}
	.products-list .catalog-image .quick-view span{ top: 20%;}
	.products-list .product-shop {  float: right;  margin: 0;  padding: 0;  position: relative;  width: 72%;}
	.products-list .product-actions .btn-cart{margin:0 0 10px;}
	.products-list .ratings{width:100%;}
	.products-list .ratings, .products-list .ratings a{float:left;}
	.col1-layout .product-view .product-shop{width:100%;}
	.product-view .product-img-box .product-image-zoom, .product-view .product-img-box .product-image img, .product-view .product-img-box{width:100% !important;}
	.product-view .product-img-box .product-image-zoom{background:transparent;}
	.product-view h3, .ui-widget{font-size:12px;}
	#addTagForm button.button{padding:0}
	#prod-view-tabs .email-friend, #prod-view-tabs .ratings{margin-bottom:10px !important;}
	.ui-tabs .ui-tabs-nav li a {font-size: 12px;}
	.spancat {width: 100%;}
	.sidebar {display:none;}
	.footer-subscribe .input-box {width: 81%;}
	.product-actions  .more_view {left:5%; width:52px; height:52px;}
	.product-actions .quick-view {right:5%;width:52px; height:52px;} 
	.cart-top-title  {margin:0 auto;}
	.product-actions .more_view {left: 22%;}
	.product-view .product-shop {clear: both;float: none;padding-right: 0;position: relative;width: 100%;}
	.product-view .box-tags .form-add label {display:none;}
	.product-view .product-img-box .product-image img {width: 100%;}
}