#row_hellothemessettings_appearance_theme{display:none!important;}

#row_hellothemessettings_appearance_option_divider {}
#row_hellothemessettings_appearance_option_divider .scope-label {color:#FAFAFA;}
.mColorPickerTrigger {margin-left:2px;}
.mColorPickerTrigger img{position: relative;top: 1px;}
.fancy {float: left; margin-left: -4px; width: 25px;}
.fancy img{position: relative;top: 1px;}
#row_hellothemessettings_appearance_option_divider td,
#row_hellothemessettings_appearance_option_divider td.value,
#row_hellothemessettings_appearance_option_divider td.scope-label,
#row_hellothemessettings_appearance_option_divider td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider td.scope-label {font-size:.9em ;}

#row_hellothemessettings_appearance_option_divider1 {}
#row_hellothemessettings_appearance_option_divider1 td,
#row_hellothemessettings_appearance_option_divider1 td.value,
#row_hellothemessettings_appearance_option_divider1 td.scope-label,
#row_hellothemessettings_appearance_option_divider1 td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider1 td.scope-label {font-size:.9em ;}

#row_hellothemessettings_appearance_option_divider2 {}
#row_hellothemessettings_appearance_option_divider2 td,
#row_hellothemessettings_appearance_option_divider2 td.value,
#row_hellothemessettings_appearance_option_divider2 td.scope-label,
#row_hellothemessettings_appearance_option_divider2 td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider2 td.scope-label {font-size:.9em ;}

#row_hellothemessettings_appearance_option_divider3 {}
#row_hellothemessettings_appearance_option_divider3 td,
#row_hellothemessettings_appearance_option_divider3 td.value,
#row_hellothemessettings_appearance_option_divider3 td.scope-label,
#row_hellothemessettings_appearance_option_divider3 td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider3 td.scope-label {font-size:.9em ;}

#row_hellothemessettings_appearance_option_divider4 {}
#row_hellothemessettings_appearance_option_divider4 td,
#row_hellothemessettings_appearance_option_divider4 td.value,
#row_hellothemessettings_appearance_option_divider4 td.scope-label,
#row_hellothemessettings_appearance_option_divider4 td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider4 td.scope-label {font-size:.9em ;}

#row_hellothemessettings_appearance_option_divider5 {}
#row_hellothemessettings_appearance_option_divider5 td,
#row_hellothemessettings_appearance_option_divider5 td.value,
#row_hellothemessettings_appearance_option_divider5 td.scope-label,
#row_hellothemessettings_appearance_option_divider5 td.label { font-size:14px; font-weight:bold; padding-top:15px !important;}
#row_hellothemessettings_appearance_option_divider5 td.scope-label {font-size:.9em ;}

#sortable {
	float:left;
}
.sortable-content{
	bottom: 204px;
	font-size: 9px;
	left: 500px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 75%;
}
.sortable-content span.ui-icon{ height: 16px;  width: 16px;}
.sortable-content span{
    float: left;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}
#row_hellothemessettings_blocks_block_sortable .scope-label {display:none!important;}
#hellothemessettings_blocks{ height:230px !important; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; width:100%; }
#sortable li span { position: absolute; margin-left: -1.3em; }