<?php 
/**
 * Evince_Tumblr extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category   	Evince
 * @package		Evince_Tumblr
 * @copyright  	Copyright (c) 2014
 * @license		http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Tumblr Integration list template
 *
 * @category	Evince
 * @package		Evince_Tumblr
 * @author Evince Development
 */
?>
<?php 
/**
 * Evince_Tumblr extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category   	Evince
 * @package		Evince_Tumblr
 * @copyright  	Copyright (c) 2014
 * @license		http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Tumblr Integration list template
 *
 * @category	Evince
 * @package		Evince_Tumblr
 * @author Evince Development
 */
?>
<div class="page-title evincetumblr-title">
	<h1><?php echo Mage::helper('tumblr')->__('Evince Tumblr') ?></h1>
</div>
<div class="evincetumblr-list-container" id="grid1">
<?php $_evincetumblrs = $this->getEvincetumblrs(); 
		for ($i=0;$i<count($_evincetumblrs);$i++) {          
        $content = preg_replace("/<img[^>]+\>/i", " ", $_evincetumblrs[$i]['photo-caption']); 
			if($_evincetumblrs[$i]['photo-caption']){
				$tumnlr = '<div class="descriptions">';
					if(!empty($_evincetumblrs[$i]['photos'])){
						$tumnlr .= '<div class="multi-img">';
						for($g=0; $g<count($_evincetumblrs[$i]['photos']); $g++){
							$tumnlr .= '<img src="' .$_evincetumblrs[$i]['photos'][$g]['photo-url-500'] . '"  hspace="3" class="four-tumbler-img"/>'; 
						}
						$tumnlr .= '</div>';
					} else {
						$tumnlr .= '<a class="tumbler-img" href="'.$_evincetumblrs[$i]['url-with-slug'].' " target="_blank"><img src="' . $_evincetumblrs[$i]['photo-url-500'] . '"   hspace="3"/></a>';
					}
				$tumnlr .= '<br>'.$content;
				//echo '</div>';
				$tumnlr .= '<a href="'.$_evincetumblrs[$i]['url-with-slug'].' " target="_blank" class="tublr-icon1">ReadMore</a>
				<div class="social-link">
				<a href="http://www.facebook.com/sharer.php?u='.$_evincetumblrs[$i]['url-with-slug'].'" target="_blank" class="tublr-icon2">Facebook</a>
				<a href="https://twitter.com/intent/tweet?url='.$_evincetumblrs[$i]['url-with-slug'].'" target="_blank" class="tublr-icon3">Twitter</a>
				<a href="https://www.tumblr.com/reblog/'.$_evincetumblrs[$i]['id']. '/'.$_evincetumblrs[$i]['reblog-key']. '" target="_blank" class="tublr-icon4">Tublr</a>
				</div>
				</div>';
			echo $tumnlr;
			}
		}
?>
   
</div></div></div></div></div>
</div>

<script >
    jQuery(window).load(function() {
	var $container = jQuery('#grid1');
	// initialize
	$container.masonry({
	  //columnWidth: 200,
	  itemSelector: '.descriptions'
	});
});
    </script>